body {
  background: rgb(255, 70, 189);
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 70, 189)), color-stop(90%, rgb(88, 26, 86)), to(rgb(45, 10, 44)));
  background: linear-gradient(90deg, rgb(255, 70, 189) 0%, rgb(88, 26, 86) 90%, rgb(45, 10, 44) 100%);
  font-family: Montserrat;
}

img {
  width: 100%;
}

.container {
  max-width: 110rem;
  padding: 1rem;
  margin: 0 2rem;
}

.tablero1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1rem 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1rem 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 30rem;
  gap: 1rem;
}

.tablero1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tablero1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tablero1 > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.tablero1 > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.tablero1__imagen {
  background-image: url("../img/cover.jpg");
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.tablero1__imagen-h1 {
  background-color: #ffcd07;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-left: 2rem;
}
.tablero1__imagen-h2 {
  background-color: #ffcd07;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-left: 2rem;
}
.tablero1__precio1 {
  background-color: #ffcd07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.tablero1__precio2 {
  background-color: #ffcd07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.tablero1__precio1-money {
  font-weight: lighter;
  font-size: 4rem;
}
.tablero1__precio1-text {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}
.tablero1__precio2-money {
  font-weight: lighter;
  font-size: 4rem;
}
.tablero1__precio2-text {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.tablero2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
}

.tablero2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tablero2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tablero2 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.tablero2 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.tablero2 > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.tablero2__tacos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #ffcd07;
  padding: 0.8rem;
  text-align: center;
}
.tablero2__tacos-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.tablero2__cervezas {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #ffcd07;
  padding: 0.8rem;
  text-align: center;
}
.tablero2__cervezas-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.tablero2__vinos {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #ffcd07;
  padding: 0.8rem;
  text-align: center;
}
.tablero2__vinos-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.tablero2__postres {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #ffcd07;
  padding: 0.8rem;
  text-align: center;
}
.tablero2__postres-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.tablero2__reservas {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #ffcd07;
  padding: 0.8rem;
  text-align: center;
}
.tablero2__reservas-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.tablero3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 15rem;
  gap: 1rem;
  margin-top: 1rem;
}

.tablero3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tablero3 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tablero3 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.tablero3 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.tablero3__tacos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}
.tablero3__tacos-title {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  color: white;
}
.tablero3__tacos-text {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
.tablero3__cerveza {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}
.tablero3__cerveza-title {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  color: white;
}
.tablero3__cerveza-text {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
.tablero3__vinos {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}
.tablero3__vinos-title {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  color: white;
}
.tablero3__vinos-text {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
.tablero3__musica {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}
.tablero3__musica-title {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  color: white;
}
.tablero3__musica-text {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

.promocion {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.promocion__imagen {
  padding: 2rem;
}
.promocion__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promocion__textos-h2 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.promocion__textos-p {
  font-size: 1rem;
}
.promocion__textos-pregunta {
  font-weight: bold;
}
.promocion__textos-link {
  margin-top: 1rem;
}
.promocion__textos-link-vinculo {
  background-color: #ffcd07;
  color: black;
  padding: 0.9rem;
  width: 6rem;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 110rem;
    padding: 0;
    margin: 0.5rem 0.5rem;
  }

  .tablero1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tablero1 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .tablero1 > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .tablero1 > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .tablero1__imagen {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .tablero1__precio1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tablero1__precio2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .tablero2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
  }

  .tablero2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .tablero2 > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .tablero2 > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .tablero2 > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .tablero2 > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .tablero2__tacos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .tablero2__cervezas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tablero2__vinos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tablero2__postres {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .tablero2__reservas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }

  .tablero3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
    height: initial;
  }

  .tablero3 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .tablero3 > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .tablero3 > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .tablero3 > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .tablero3__tacos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .tablero3__cerveza {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tablero3__vinos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tablero3__musica {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }

  .promocion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1rem;
  }
  .promocion__imagen {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .promocion__textos {
    text-align: center;
  }
  .promocion__textos-link-vinculo {
    display: inline-block;
  }
}
/*# sourceMappingURL=main.css.map */